/* universal selector */
* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(21, 2, 2);
  color: #bbbdc7;
}

header {
  position: fixed;
  margin-right: 0.5em;
}

h1 {
  text-align: center;
  font-size: 44px;
}

/* List items in navigation bar */
.nav {
  list-style-type: none;
  font-size: 24px;
  display: inline;
  padding: 0.2em;
  border: 1px solid rgb(237, 225, 225);
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 19px;
  filter: grayscale(100%);
}

h2 {
  text-align: center;
}

form {
  display: block;
  margin: 0 auto;
  width: 500px;
  border: 1px solid rgb(226, 212, 212);
  padding: .5em;
}

input[type=text] {
  width: 100%;
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
}

input[type=submit] {
  background-color: #dfece0;
  color: rgb(33, 28, 28);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: chocolate;
}


